<?xml version="1.0" encoding="utf-8" ?>
<configuration >
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss} %-5level [%thread] %logger{30} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--
    日志输出级别
        error: 错误,系统故障日志
        warn: 警告,存在风险或者使用不当
        info: 一般性信息
        debug: 程序内部用于调试
        trace: 程序内部用于追终   
    -->
<!--    <appender name="accessHistoryLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>E:/Desktop/New folder/intercepter/history/history.%d.log</fileNamePattern>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>[%thread] %d  %level %logger{10} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
    <root level="debug">
        <appender-ref ref="console"/>
    </root>
    
</configuration>